<div class="div-card">
    <div *ngFor="let item of df.deputados" class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{item.urlFoto}}" class="img-fluid rounded-start" alt="..." style="width: 120px; height: 160px;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{item.nome}} <span class="badge text-bg-warning">{{item.siglaPartido}}</span></h5>
                    <!-- <p class="card-text fs-6"><b>Enredo:</b> {{filme.Plot}}</p> -->
                    <p class="card-text"><small class="text-body-secondary"><b>Email:</b> {{item.email}}
                            <br><b>Estado:</b> {{item.siglaUf}}</small></p>

                </div>
            </div>
        </div>
    </div>
</div>